body {
    background: aliceblue;
}

.slider {
    width: 100%;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    height: 450px;
}

.burger__img {
    width: 200px;
    height: auto;
}

.product__discount_on {
     text-decoration: line-through;
}


li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.image {

}

.image__news, .image__discount {
    width: 400px;
    height: 300px;
}

menu {
    overflow: hidden;
    padding: 0;
}

menu > li {
    float: left;
    padding-right: 10px;
}

.show {
    display: block;
}

.hide {
    display: none;
}