{% load static %}
{% load menu_generator %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/slick/slick-theme.css' %}">
    <script src="{% static 'lib/jq-1.9.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/slick/slick.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/jquery.suggestions.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'map.js' %}" type="text/javascript"></script>
    <script src="{% static 'cart.js' %}" type="text/javascript"></script>
    <script src="{% static 'product.js' %}" type="text/javascript"></script>
    <script src="{% static 'profile.js' %}" type="text/javascript"></script>
    <script src="{% static 'user.js' %}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Burgers</title>
</head>
<body>
<h1>Большие и Сочные бургеры. Доставка от 30 МИН.</h1>
    <main>
        {% if user.is_authenticated %}
            <p>{{ user.username }} <a href="{% url 'account_logout' %}">Logout</a></p>
        {% else %}
            <form action="{% url 'auth' %}" method="post" class="js-auth-form" onsubmit="User.Login(event)">
                {% csrf_token %}
                {{ name_form }}
                <input type="submit" class="js-auth-submit" value="Login">
            </form>
        {% endif %}
    </main>
    {% get_menu "NAV_MENU" as menu %}
    <menu>
        {% for item in menu %}
            <li class="{% if item.selected %} active {% endif %}">
                <a href="{{ item.url }}"> <i class="{{ item.icon_class }}"></i> {{ item.name }}</a>
            </li>
            {% if item.submenu %}
                <ul>
                {% for menu in item.submenu %}
                    <li class="{% if menu.selected %} active {% endif %}">
                        <a href="{{ menu.url }}">{{ menu.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </menu>
    {% block content %}{% endblock %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e80cca29-55c5-4a35-8e8e-fb0282d442df&lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(init);

        function init() {
            var geolocation = ymaps.geolocation,
                myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [55.753994, 37.622093],
                    zoom: 9
                }, {
                    searchControlProvider: 'yandex#search'
                });

            // Слушаем клик на карте.
            myMap.events.add('click', function (e) {
                var coords = e.get('coords');

                drawPoint(coords);
            });

            // Сравним положение, вычисленное по ip пользователя и
            // положение, вычисленное средствами браузера.
            geolocation.get({
                provider: 'yandex',
                mapStateAutoApply: true
            }).then(function (result) {
                // Красным цветом пометим положение, вычисленное через ip.
                myMap.geoObjects.add(result.geoObjects);
                drawPoint(result.geoObjects.position);
            });

            geolocation.get({
                provider: 'browser',
                mapStateAutoApply: true
            }).then(function (result) {
                drawPoint(result.geoObjects.position);
                // Синим цветом пометим положение, полученное через браузер.
                // Если браузер не поддерживает эту функциональность, метка не будет добавлена на карту.
                myMap.geoObjects.add(result.geoObjects);
            });

            function drawPoint(coords) {
                // Если метка уже создана – просто передвигаем ее.
                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                }
                // Если нет – создаем.
                else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    // Слушаем событие окончания перетаскивания на метке.
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);
            }

            // Создание метки.
            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: true
                });
            }

            // Определяем адрес по координатам (обратное геокодирование).
            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    $('.js-address').find('input[name="address"], input[name="apartments"], input[name="entrance"], input[name="floor"]').val('');
                    var addressInput = $('.js-address').find('input[name=address]');
                    var firstGeoObject = res.geoObjects.get(0);

                    // set address to input as value
                    addressInput.val(firstGeoObject.getAddressLine());

                    myPlacemark.properties
                        .set({
                            // Формируем строку с данными об объекте.
                            iconCaption: [
                                // Название населенного пункта или вышестоящее административно-территориальное образование.
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            // В качестве контента балуна задаем строку с адресом объекта.
                            balloonContent: firstGeoObject.getAddressLine()
                        });
                });
            }
        }
    </script>
</body>
</html>