{% extends 'base.html' %}

{% block content %}
    <div class="js-cart-items">
        {% if products %}
            <hr>
            {% for product in products %}
                <div class="js-product" data-product-id="{{ product.id }}" data-initial-price="{{ product.product_id.price }}" onchange="Cart.RecalcCart()">
                    <h2><a href="{% url 'detail' product.product_id.id %}">{{ product.product_id.name }}</a></h2>
                    <img class="burger__img" src="/media/{{ product.product_id.image }}" alt="{{ product.product_id.name }}">
                    <p>{{ product.product_id.description }}</p>
                    {% if product.product_id.composition %}
                        <ul>
                            {% for item in product.product_id.composition.all %}
                                <li>{{ item.name }} | {{ item.nutritional_value }} К-дж | {{ item.weight }} гр.</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <span>
                        <input type="number" class="js-product-cnt" onchange="Cart.Update(this)" value="{{ product.cnt }}">
                    </span>
                    {% if product.product_id.composition %}
                        <p>Options</p>
                        <ul onchange="Product.OptionGenerate(event)" class="js-options-list">
                            {% for item in product.product_id.composition.all %}
                                <li>
                                    <span>{{ item.name }}</span>
                                    <input
                                            type="range"
                                            class="js-options"
                                            min="1"
                                            max="5"
                                            value="{{ item.cnt }}"
                                            name="{{ item.id }}"
                                            onchange="Cart.Update(this)"
                                            data-initial-cnt="{{ item.cnt }}"
                                            data-initial-price="{{ item.price }}"
                                    />
                                </li>
                            {% endfor %}
                        </ul>
                        <input type="hidden" class="js-product-options-list" value="{{ product.product_options_list }}" name="product_options_list">
                    {% endif %}
                    <p><span class="js-product-price">{{ product.product_id.price }}</span> Руб</p>
                    <button onclick="Cart.Remove(this)">Remove</button>
                </div>
            {% endfor %}
        {% else %}
            <h1>Cart is empty</h1>
        {% endif %}
    </div>
    <hr>
    <h3>Coupon</h3>
    <form action="/coupon/set/" method="post" class="js-coupon" onsubmit="Cart.setCoupon(event, this)">
        {% csrf_token %}
        {{ coupon_form.as_p }}
        <input type="submit" value="Set">
        <button onclick="Cart.UnsetCoupon(event)">Unset</button>
    </form>
    <hr>
    <h3>Total</h3>
    <p>
        ИТОГО:
        <span class="js-total-payment">
            0
        </span>
        <span class="js-total-payment-with-discount">

        </span>
        Руб.
    </p>
    <p>
        СКИДКА:
        <span class="js-discount">
            0
        </span>
        Руб.
    </p>
    <p>
        КЭШ-БЭК:
        <span class="js-cash-back">
            0
        </span>
        Руб.
    </p>
    <hr>
    <h3>Address</h3>
    {% for address in user_address %}
        <ul>
            <li>
                <p>{{ address.address }}|{{ address.apartments }}|{{ address.entrance }}|{{ address.floor }}</p>
                <button onclick="Cart.SetAddressFromList(this)">Set</button>
            </li>
        </ul>
    {% endfor %}
    <form action="/order/" method="post" class="js-address" onsubmit="Cart.Order(event, this)">
        <div id="map" style="width: 600px; height: 400px"></div>
        {% csrf_token %}
        {{ address.as_p }}
        <hr>
    <h3>Payment method</h3>
    <label>
    Наличные
    <input type="radio" value="1" name="method_type" class="js-payment-method" checked>
    </label>
    <label>
    Картой курьеру
    <input type="radio" value="2" name="method_type" class="js-payment-method">
    </label>
    <label>
    Онлайн
    <input type="radio" value="3" name="method_type" class="js-payment-method">
    <div>
        <p>Нужна сдача с </p>
        <input type="text" name="payback">
        <span>Руб.</span>
    </div>
    </label>
        <hr>
        <input type="submit" value="Buy">
    </form>
    <script>
        Cart.RecalcCart();
    </script>
{% endblock %}