{% extends 'base.html' %}

{% block content %}
    <h1>CONTACTS</h1>
    <hr>
    <p>{{ address.phone }}</p>
    <p>{{ address.email }}</p>
    <p>{{ address.operating_time }}</p>
    <p>{{ address.address }}</p>
    <p>{{ address.text }}</p>
{% endblock %}