{% extends 'base.html' %}

{% block content %}
<div class="product" data-product-id="{{ burger.id }}">
    <h2>{{ burger.name }}</h2>
    <img class="burger__img" src="/media/{{ burger.image }}" alt="{{ burger.name }}">
    <p>{{ burger.long_description }}</p>
    {% if burger.composition %}
        <ul>
            {% for item in burger.composition.all %}
                <li>{{ item.name }} | {{ item.nutritional_value }} К-дж | {{ item.weight }} гр.</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>{{ burger.price }} Руб</p>
    <button onclick="Cart.Add(this)">Добавить</button>
</div>
{% endblock %}