{% extends 'base.html' %}

{% block content %}
    {% for discount in discounts %}
        <ul>
            <li>
                <img class="image__discount" src="/media/{{ discount.image }}" alt="{{ discount.image }}">
            </li>
            <li>
                {{ discount.text }}
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>Экономь по полной!</h4>
    <form action="/subscribe/" method="post">
        {{ subscribe_form.as_p }}
        {% csrf_token %}
        <input type="hidden" value="Action" name="type">
        <input type="submit" value="Subscribe">
    </form>
{% endblock %}