{% extends 'base.html' %}

{% block content %}
<div class="js-slider slider">
  <div><img src="http://www.chicagofoodmagazine.com/content/images/media-295/Mini-Bs-at-Bills-Burger-Bar_Photo-Credit-to-Landrys.jpg" alt=""></div>
  <div><img src="https://f.roocdn.com/images/menus/69676/header-image.jpg?width=1200&height=630&auto=webp&format=jpg&fit=crop&v=1530633721" alt=""></div>
  <div><img src="http://thebasement.mt/wp-content/uploads/2018/07/GLUTEN-FREE-BURGER.jpg" alt=""></div>
</div>
{% for product in products %}
    <div class="js-product" data-product-id="{{ product.id }}" data-initial-price="{{ product.price }}" onchange="Cart.RecalcCart()">
        <p>{{ product.test }}</p>
        <h2><a href="{% url 'detail' product.id %}">{{ product.name }}</a></h2>
        <img class="burger__img" src="/media/{{ product.image }}" alt="{{ product.name }}">
        <p>{{ product.description }}</p>
        {% if product.composition %}
            <ul>
                {% for item in product.composition.all %}
                    <li>{{ item.name }} | {{ item.nutritional_value }} К-дж | {{ item.weight }} гр.</li>
                {% endfor %}
            </ul>
        {% endif %}
        <span>
            <input type="number" class="js-product-cnt" value="1">
        </span>
        {% if product.composition %}
            <p>Options</p>
            <ul onchange="Product.OptionGenerate(event)" class="js-options-list">
                {% for item in product.composition.all %}
                    <li>
                        <span>{{ item.name }}</span>
                        <input
                                type="range"
                                class="js-options"
                                min="1" max="5"
                                value="{{ item.cnt }}"
                                name="{{ item.id }}"
                                data-initial-cnt="{{ item.cnt }}"
                                data-initial-price="{{ item.price }}"
                        >
                    </li>
                {% endfor %}
            </ul>
            {% for key, ingredient in ingredient_list.items %}
                {% if key == product.id %}
                    <input type="hidden" class="js-product-options-list" value="{{ ingredient }}" name="product_options_list" />
                {% endif %}
            {% endfor %}
        {% endif %}
        <p><span class="js-product-price">{{ product.price }}</span> Руб</p>
        <button onclick="Cart.Add(this)">Добавить</button>
    </div>
{% endfor %}
<hr>
<h4>Оставляй свой email и узнавай о скидках первым</h4>
<form action="/subscribe/" method="post">
    {{ subscribe_form.as_p }}
    {% csrf_token %}
    <input type="hidden" value="Action" name="type">
    <input type="submit" value="Subscribe">
</form>
<script>
    $('.js-slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        adaptiveHeight: true
    });
</script>
{% endblock %}