{% extends 'base.html' %}

{% block content %}
<ul>
{% for product in products %}
    <div class="js-product" data-product-id="{{ product.id }}" data-initial-price="{{ product.price }}" onchange="Cart.RecalcCart()">
        <p>{{ product.test }}</p>
        <h2><a href="{% url 'detail' product.id %}">{{ product.name }}</a></h2>
        <img class="burger__img" src="/media/{{ product.image }}" alt="{{ product.name }}">
        <p>{{ product.description }}</p>
        {% if product.composition %}
            <ul>
                {% for item in product.composition.all %}
                    <li>{{ item.name }} | {{ item.nutritional_value }} К-дж | {{ item.weight }} гр.</li>
                {% endfor %}
            </ul>
        {% endif %}
        <span>
            <input type="number" class="js-product-cnt" value="1">
        </span>
        {% if product.composition %}
            <p>Options</p>
            <ul onchange="Product.OptionGenerate(event)" class="js-options-list">
                {% for item in product.composition.all %}
                    <li>
                        <span>{{ item.name }}</span>
                        <input
                                type="range"
                                class="js-options"
                                min="1" max="5"
                                value="{{ item.cnt }}"
                                name="{{ item.id }}"
                                data-initial-cnt="{{ item.cnt }}"
                                data-initial-price="{{ item.price }}"
                        >
                    </li>
                {% endfor %}
            </ul>
            {% for key, ingredient in ingredient_list.items %}
                {% if key == product.id %}
                    <input type="hidden" class="js-product-options-list" value="{{ ingredient }}" name="product_options_list" />
                {% endif %}
            {% endfor %}
        {% endif %}
        <p><span class="js-product-price">{{ product.price }}</span> Руб</p>
        <button onclick="Cart.Add(this)">Добавить</button>
    </div>
{% endfor %}
</ul>
{% endblock %}