{% extends 'base.html' %}

{% block content %}
    <h1>NEWS</h1>
    {% for item in news %}
        <ul>
            <li>
                <img class="image__news" src="/media/{{ item.image }}" alt="{{ item.image }}">
            </li>
            <li>
                <a href="/news/{{ item.id }}">
                    {{ item.title }}
                </a>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h4>Будь в курсе всех новостей!</h4>
    <form action="/subscribe/" method="post">
        {{ subscribe_form.as_p }}
        {% csrf_token %}
        <input type="hidden" value="Action" name="type">
        <input type="submit" value="Subscribe">
    </form>
{% endblock %}