{% extends 'base.html' %}

{% block content %}
    <h1>NEWS DETAIL</h1>
    <hr>
    <ul>
        <li>
            <img class="image__news" src="/media/{{ news.image }}" alt="{{ news.image }}">
        </li>
        <li>
            {{ news.title }}
        </li>
        <li>
            {{ news.text }}
        </li>
    </ul>
{% endblock %}