{% extends 'base.html' %}

{% block content %}
    <h3>Orders</h3>
    <hr>
    {% if user_orders %}
        {% for order in user_orders %}
            <div data-order-id="{{ order.id }}" class="js-last-order">
                <p>Аддресс: {{ order.address }}</p>
                <p>Кэшбэк: {{ order.cash_back }}</p>
                <p>Дата: {{ order.date_order_created }}</p>
                <p>Тип оплаты: {{ order.payment_type }}</p>
                <p>Скидка: {{ order.percentage }}</p>
                {% for product_list in order.product_list %}
                    <ul>
                        <li>{{ product_list.name }}</li>
                        <li>{{ product_list.cnt }} шт.</li>
                        <li>{{ product_list.price }} Руб.</li>
                    </ul>
                {% endfor %}
                <p>
                    <select name="status">
                        <option value="1">Обрабатывается</option>
                        <option value="2">Готовится</option>
                        <option value="3">Доставляется</option>
                        <option value="4">Доставлен</option>
                    </select>
                </p>
                <p>
                    <button onclick="Order.Update(event)">UPDATE</button>
                </p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h1>You don`t order yet :(</h1>
    {% endif %}
{% endblock %}