{% extends 'base.html' %}

{% block content %}
    <hr>
    <h3>Profile</h3>
    <form action="/profile/save/" method="post">
        {% csrf_token %}
        {{ profile.as_p }}
        <input type="hidden" name="profile_type" value="profile">
        <input type="submit" value="Save">
    </form>
    <hr>
    <h3>Address</h3>
    {% for address in user_address %}
        <ul>
            <li class="js-address-block">
                <p>{{ address.address }}, {{ address.apartments }}, {{ address.entrance }}, {{ address.floor }}</p>
                <button onclick="Profile.AddressRemove(this)" data-address-id="{{ address.id }}">Remove</button>
            </li>
        </ul>
    {% endfor %}

    <form action="/profile/save/" method="post" class="js-address">
        <div id="map" style="width: 600px; height: 400px"></div>
        {% csrf_token %}
        {{ address.as_p }}
        <input type="hidden" name="profile_type" value="address">
        <input type="submit" value="Save">
    </form>
    <hr>
    <h3>Orders</h3>
    <hr>
    {% if user_orders %}
        {% for order in user_orders %}
            <div data-order-id="{{ order.id }}" class="js-last-order">
                <p>Аддресс: {{ order.address }}</p>
                {% if order.cash_back %}
                    <p>Кэшбэк: {{ order.cash_back }}</p>
                {% endif %}
                <p>Дата: {{ order.date_order_created }}</p>
                <p>Тип оплаты: {{ order.payment_type }}</p>
                {% if order.percentage %}
                    <p>Скидка: {{ order.percentage }}%</p>
                {% endif %}
                {% for product_list in order.product_list %}
                    <ul>
                        <li>{{ product_list.name }}</li>
                        <li>{{ product_list.cnt }} шт.</li>
                        <li>{{ product_list.price }} Руб.</li>
                    </ul>
                {% endfor %}
                <p>
                    <button onclick="Profile.ReOrder(event)">REPEAT</button>
                </p>
                {% if order.status == 6 %}
                    <form action="/comment/" method="post">
                        {% csrf_token %}
                        {{ feed_back_form.as_p }}
                        <input type="submit" value="SEND">
                    </form>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h1>You don`t order yet :(</h1>
    {% endif %}
{% endblock %}